body {
  margin: 0;
  overflow: hidden;
}

#gameCanvas {
  display: block;
  margin: auto;
  background-image: url("/assets/background/grass.png");
}
#menuIcon {
  cursor: pointer;
  font-size: 40px;
  color: white;
  top:0;
}

#menuIcon , #dropdownMenu {
  position: absolute;
  right: 10px;
}

.hidden {
  display: none;
}

#dropdownMenu {
  font-size: 40px;
  top:50px;
}

#dropdownMenu a {
  display: block;
  color: white;
  /* Дополнительные стили для ссылок меню */
}
