body {
    background-image: url('/assets/background/space_background.png');
    font-family: 'AmongUsFont';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.settings-container {
    background-color: black;
    border: 2px solid white;
    padding: 20px;
    color:white;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px #222;
}

.settings-container h2 {
    text-align: center;
    font-size: 2em;
}

.setting {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.setting label {
    margin-right: 10px;
}

.nickname-setting input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

.setting input[type="range"],
.setting input[type="text"],
.submit-btn,
.control-btn,
.back-btn {
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px black;
    transition: all 0.3s ease;
}

.setting input[type="range"],
.setting input[type="text"] {
    background-color: white;
    color: black;
}

.control-btn,
.back-btn {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.submit-btn:hover,
.control-btn:hover,
.back-btn:hover {
    background-color: #0d0d0d;
}
.submit-btn:active,
.control-btn:active,
.back-btn:active {
    box-shadow: 0 2px black;
    transform: translateY(2px);
}