body {
  background-image: url("/assets/background/space_background.png");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu-item {
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 20px 40px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 4px black;
  transition: all 0.3s ease;
}

.menu-item:hover {
  background-color: #0d0d0d;
}

.menu-item:active{
  box-shadow: 0 2px black;
  transform: translateY(2px);
}

.button {
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 20px 40px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 4px black;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #0d0d0d;
}

.button:active {
  box-shadow: 0 2px black;
  transform: translateY(2px);
}

#settingMenu {
  background-color: black;
  border: 2px solid white;
  padding: 20px;
  color:white;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px #222;
}

#settingMenu h2 {
  text-align: center;
  font-size: 2em;
}

.setting {
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.setting label {
  margin-right: 10px;
}

.nickname-setting input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
}

.setting input[type="range"],
.setting input[type="text"],
.submit-btn,
.control-btn,
.back-btn {
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px black;
  transition: all 0.3s ease;
}

.setting input[type="range"],
.setting input[type="text"] {
  background-color: white;
  color: black;
}

.control-btn,
.back-btn {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.submit-btn:hover,
.control-btn:hover,
.back-btn:hover {
  background-color: #0d0d0d;
}
.submit-btn:active,
.control-btn:active,
.back-btn:active {
  box-shadow: 0 2px black;
  transform: translateY(2px);
}

.setting input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  transition: .5s;
  cursor: pointer;
}
.setting input[type="checkbox"]:checked {
  background: lightgreen;
}
.setting input[type="checkbox"]:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: .5s;
}
.setting input[type="checkbox"]:checked:before {
  left: 20px;
}

.chat-icon {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.chat-window {
  position: fixed;
  bottom: 60px; 
  left: 20px;
  width: 400px;
  height: 400px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: none; 
  overflow: auto;
}

#backButton {
  position: absolute;
  bottom: 20px;
}
