body {
  background-image: url("/assets/background/space_background.png");
  font-family: "AmongUsFont";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button {
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 20px 40px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 4px black;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #0d0d0d;
}

.button:active {
  box-shadow: 0 2px black;
  transform: translateY(2px);
}
