@font-face {
    font-family: 'AmongUsFont';
    src: url('/public/fonts/impostograph-regular-webfont.woff2') format('woff2'),
         url('/public/fonts/impostograph-regular-webfont.woff') format('woff'),
         url('/public/fonts/Impostograph-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}